.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55vh;
  padding: 60px 70px 20px;
  background-color: var(--whitesmoke);
}

.signin__title {
  cursor: default;
  color: var(--deep-grey);
  font-size: 2rem;
  margin-bottom: 30px;
}

.signin__label {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

.input {
  width: 100%;
  background-color: var(--light-grey);
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 0.5rem;
  outline: none;
  font-size: 0.9rem;
  padding: 25px 10px 10px;
  font-weight: 600;
  color: var(--deep-grey);
}

.signin__label span {
  position: absolute;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px;
  cursor: text;
  transition: all 200ms ease;
}

.signin__link {
  font-size: 0.8rem;
  font-weight: 700;
  padding-bottom: 5px;
  text-decoration: none;
  color: var(--medium-grey);
  text-transform: uppercase;
}

.input:focus {
  background-color: var(--whitesmoke);
  border: 2px solid var(--deep-grey);
}

.signin__label .span-active {
  font-size: 0.7rem;
  margin: 8px 10px;
}

@media screen and (max-width: 820px) {
  .signin__link {
    font-size: 1.1rem;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 515px) {
  .signin {
    width: 43vh;
    border-radius: 10px;
    padding: 50px 30px 10px;
    background-color: var(--whitesmoke);
  }

  .signin__title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }

  .signin__link {
    font-size: 0.8rem;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 375px) {
  .signin {
    width: 50vh;
  }
}

@media screen and (max-width: 375px) {
  .signin {
    width: 40vh;
  }
}
